
<br><br><br><br>
<div class="container mx-auto">
<div class="row">
    <div class="col-lg-4 col-md-6 col-12 mt-4  ">
<div  class="card" style="width: 100%;">
    <div class="card-body d-flex align-items-center justify-content-center">
      <span class="material-symbols-outlined micon">
        person
        </span>
      <h1 class="card-title"><br> Total <br> Users</h1>
      <h2 class="count">{{details?.total_users}}</h2>
     
    
    </div>
  </div>
</div>
<div class=" col-lg-4 col-md-6 col-12 mt-4">
    <div class="card" style="width: 100%;">
        <div class="card-body d-flex align-items-center justify-content-center">
            <span class="material-symbols-outlined micon text-primary">
                layers
                </span>
           
          <h1 class="card-title"> <br> Pending <br> Leaves</h1>
          <h2 class="count">{{details?.pending_leave}}</h2>
         

        </div>
      </div>
    </div>
    <div class="col-lg-4  col-md-6 col-12 mt-4">
        <div class="card" style="width: 100%;">
          <div class="card-body d-flex align-items-center justify-content-center">
            <span class="material-symbols-outlined micon text-success">
                layers
                </span>
            <h1 class="card-title"> <br> Approved <br> Leaves</h1>
            <h2 class="count">{{details?.approved_leave}}</h2>
            </div>
          </div>
        </div>
        
   
         
        <div class="col-lg-4  col-md-6 col-12 mt-4">
            <div class="card" style="width: 100%;">
              <div class="card-body d-flex align-items-center justify-content-center">
                <span class="material-symbols-outlined micon text-danger">
                    layers
                    </span>
                <h1 class="card-title"><br> Rejected <br> requests</h1>
                <h2 class="count">{{details?.rejected_leave}}</h2>
             
                </div>
              </div>
            </div>
            <div class="col-lg-4  col-md-6 col-12 mt-4">
                <div class="card " style="width: 100%; ">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
       
                    </div>
                  </div>
                </div>
                <div class="col-lg-4  col-md-6  col-12 mt-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      
                        </div>
                      </div>
                    </div>
                  </div>
</div>
