<table  class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Leave From Date</th>
        <th scope="col">Leave To Date</th>
        <th scope="col">Leave Type</th>
        <th scope="col">reasonForLeave</th>
        <th scope="col">status</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of all_leave;let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{leave.firstName}}</td>
        <td>{{leave.lastName}}</td>
        <td>{{leave.leaveFromDate}}</td>
        <td>{{leave.leaveToDate}}</td>
        <td>{{leave.leaveType}}</td>
        <td>{{leave.reasonForLeave}}</td>
        <td><p [ngStyle]="{'color': leave.status === 'approved' ? 'green' : (leave.status === 'rejected' ? 'red' : 'blue')}"><strong>{{leave.status}}</strong></p>   </td>
       
      </tr>
     
    </tbody>
  </table>